{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<h2>This ToDo app is created by Ayush Gupta</h2>
<p id="info">
    Ayush Gupta born in Indian city of Vadodra and bought up in Mumbai is TE engineering student studying in SPIT college, Mumbai his 
    interest lies in programming, reading books and pop culture. 
    Ayush is big Harry Potter fan his favorite character being Sirius Black, he goes with alias Godfather on his social
    media.
</p>
<img src="static/ukt.jpg" alt="Ayush Gupta" id="image">

<a href="https://www.linkedin.com/in/ayush-gupta-3aa46927b/" class="icons" target="_blank">
    <i class="fab fa-linkedin"></i> ayush-gupta</a>
<br>
<a href="https://www.instagram.com/godfather_1509/" class="icons" target="_blank">
    <i class="fab fa-instagram" style="color: #E4405F;"></i> godfather_1509</a>

{% endblock body %}